pipeline/pipeline_dataload_Excel_AzureSQLDB.json
{
	"name": "pipeline_dataload_Excel_AzureSQLDB",
	"properties": {
		"activities": [
			{
				"name": "ToconsiderAllFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CopyHttpresponsetoAdls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_array",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Github_to_AzureSQLdb",
							"description": "Pipeline to export data from Github to Azure SQL DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Github",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSQL",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().folder_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "CopyHttpresponsetoAdls",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_response1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_raw",
						"type": "DatasetReference",
						"parameters": {
							"response_name": {
								"value": "@concat('api_name/', formatDateTime(utcNow(), 'yyyy'))\n",
								"type": "Expression"
							},
							"response_file_name": {
								"value": "@concat('response_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.json')\n",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"p_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "olist_geolocation",
						"file_name": "olist_geolocation_dataset.csv"
					},
					{
						"folder_name": "olist_products",
						"file_name": "olist_products_dataset.csv"
					},
					{
						"folder_name": "olist_order_items",
						"file_name": "olist_order_items_dataset.csv"
					},
					{
						"folder_name": "olist_order_review",
						"file_name": "olist_order_reviews_dataset.csv"
					}
				]
			}
		},
		"annotations": []
	}
}